*{
    font-family: 'Lato', sans-serif;
}
.font-lato{
    font-family: 'Lato', sans-serif;
}

.nav-container{
    max-width: 1440px;
    margin: 0 auto;
  border-radius: 600px;
  padding:25px;
  margin-top: 50px;
}

.fa-solid{
    color: #928c8c;
    font-size: 24px;
 
}

.search-input{
    position: relative;
  
    border-radius: 50px;
    padding: 5px;
    width: 400px;
    height: 55px;
}

.search-btn{
    position: absolute;
right: 286px;
top:100px;


}

::placeholder{
    font-size: 15px;
    color:rgba(18, 18, 18, 0.40);
    font-size: 20px;
    font-family: 400;
    
}

.caro-div{
    max-width: 1440px;
     border-radius:15px;
     margin-left: 240px;
     

   /* height: 700px;*/

   
}
/*
.button{
   background-color:  #F85559;
   color: aqua;
}
*/

.button{
    font-size:20px;
    font-weight: 800;
    color: white;
    background-color: #F85559;
    text-transform: capitalize;
    border: none;
}

.section-deal-day{
    max-width:1440px;
}

